##############################
## Folders                  ##
##############################
#target
.idea
.settings 
##############################
## Netbeans conf            ##
##############################
*.xml
*.iml
*.class
